a {
    all: unset;
}

a:hover{
    text-decoration: none!important;
    cursor: pointer;
}

.arrowUp {
    position: fixed;
    right: 10px;
    bottom: 10px;
    color: red;

}

.arrowUp:hover {
    color: red;
}