#span_manga{
    color: $color5;
    border: solid 1px $color5;

}

.div_explication_manga{
    background-color: $color3;
}

.div_titre_manga{
    background-color: $color5;
}

.btn_chap{
    border: solid 1px $color4 !important;
}

.btn_chap:hover{
    color: white !important;
    background-color: $color4;
}

.btn_rss{
    border: solid 1px $color4 !important;
}

.btn_rss:hover{
    color: white !important;
    background-color: $color4;
}

.btn_sub{
    border: solid 1px $color2 !important;
}

.btn_sub:hover{
    color: white !important;
    background-color: $color2;
}

#root{
    background-color: black;
}