.navSection {
    justify-content: center;
    ul {
        display: flex;
        list-style: none;
        padding-left: 0;
        border-bottom: solid 2px black;

        li {
            margin-left: 17px;
            margin-right: 17px;

            a {
                text-decoration: none;
            }
        }
    }
}